<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	
	<!-- 注册组件扫描器 -->
	<context:component-scan base-package="com.ggc.ms.service.impl"/>
	
	<!-- 引用外部的配置文件 -->
	<context:property-placeholder location="classpath:resources/jdbc.properties"/>
	
	<!-- 数据源 连接池c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- sessionFactory -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:resources/mybatis-config.xml"/>
		<!-- 指定映射文件的位置 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:com/ggc/ms/dao/*.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置mapper扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定sessionFactory的名字 -->
		<property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
		<!-- 指定dao接口所在的包 -->
		<property name="basePackage" value="com.ggc.ms.dao"/>
	</bean>
	
	<!-- 事务管理器transactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 通知Advice,Aspect是横切面,Advice是Aspect的具体实现 -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
			<tx:method name="get*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 切入 -->
	<aop:config>
		<aop:advisor advice-ref="transactionAdvice" pointcut="execution(* com.ggc.ms.service.*.*(..))"/>
	</aop:config>
</beans>


